test/data/*
test/cache/*
test/joblib/*
test/data/*/iteration_*/*.pdb
test/data/*/iteration_*/*.gro
test/data/*/iteration_*/*.ndb
test/data/*/iteration_*/Nframes*
test/data/*/iteration_*/*.pdb
test/data/*/iteration_*/log
test/data/*/iteration_*/*h5
test/data/*/iteration_*/*.dat
test/Analysis/*
AnalysisTools/__pycache__/
TODO
*.plz.npx
*.gro
Nframes*
log
*.h5
*.dat
test/*.png
